logs
project/project
project/target
target
tmp
.history
dist
.idea
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
.target/
bin/
.DS_Store
*.iml
log.dir_IS_UNDEFINED/
app_home_IS_UNDEFINED/
application.home_IS_UNDEFINED/
/recovery
utils/data/
tmp/*
.keep
/staging
*.js
node_modules/*
test/report/cucumber_report.html
integration/temp
temp/chromedriver
*.orig
